In [7]:
import json
import pandas as pd

# Load the JSON data
with open("user-wallet-transactions.json", "r") as file:
    data = json.load(file)

# Convert to a DataFrame
df = pd.DataFrame(data)
df.head()

,_id,userWallet,network,protocol,txHash,logId,timestamp,blockNumber,action,actionData,__v,createdAt,updatedAt
0,{'$oid': '681d38fed63812d4655f571a'},0x00000000001accfa9cef68cf5371a23025b6d4b6,polygon,aave_v2,0x695c69acf608fbf5d38e48ca5535e118cc213a89e3d6...,0x695c69acf608fbf5d38e48ca5535e118cc213a89e3d6...,1629178166,1629178166,deposit,"{'type': 'Deposit', 'amount': '2000000000', 'a...",0,{'$date': '2025-05-08T23:06:39.465Z'},{'$date': '2025-05-08T23:06:39.465Z'}
1,{'$oid': '681aa70dd6df53021cc6f3c0'},0x000000000051d07a4fb3bd10121a343d85818da6,polygon,aave_v2,0xe6fc162c86b2928b0ba9b82bda672763665152b9de9d...,0xe6fc162c86b2928b0ba9b82bda672763665152b9de9d...,1621525013,1621525013,deposit,"{'type': 'Deposit', 'amount': '145000000000000...",0,{'$date': '2025-05-07T00:19:26.159Z'},{'$date': '2025-05-07T00:19:26.159Z'}
2,{'$oid': '681d04c2d63812d4654c733e'},0x000000000096026fb41fc39f9875d164bd82e2dc,polygon,aave_v2,0xe2d7eb815c89331a734ed6f204a06c385a1b39040baa...,0xe2d7eb815c89331a734ed6f204a06c385a1b39040baa...,1627118913,1627118913,deposit,"{'type': 'Deposit', 'amount': '100000000000000...",0,{'$date': '2025-05-08T19:23:47.877Z'},{'$date': '2025-05-08T19:23:47.877Z'}
3,{'$oid': '681d133bd63812d46551b6ef'},0x000000000096026fb41fc39f9875d164bd82e2dc,polygon,aave_v2,0x0d63a2eacd82b82f868db825ea7385e6bd8d046ee729...,0x0d63a2eacd82b82f868db825ea7385e6bd8d046ee729...,1627773318,1627773318,deposit,"{'type': 'Deposit', 'amount': '400000000000000...",0,{'$date': '2025-05-08T20:25:33.141Z'},{'$date': '2025-05-08T20:25:33.141Z'}
4,{'$oid': '681899e4ba49fc91cf2f4454'},0x0000000000e189dd664b9ab08a33c4839953852c,polygon,aave_v2,0x590eabb812c5006a6f4766f44e6e9d3ad0b5b563de69...,0x590eabb812c5006a6f4766f44e6e9d3ad0b5b563de69...,1618845907,1618845907,redeemunderlying,"{'type': 'RedeemUnderlying', 'amount': '501548...",0,{'$date': '2025-05-05T10:58:45.934Z'},{'$date': '2025-05-05T10:58:45.934Z'}

In [10]:
df['actionData'] = pd.to_numeric(df['actionData'], errors='coerce')
df['timestamp'] = pd.to_datetime(df['timestamp'], errors='coerce')
# Group transactions by wallet
group = df.groupby('userWallet')

# Feature engineering
features = pd.DataFrame()

features['num_transactions'] = group.size()
features['num_borrows'] = group['action'].apply(lambda x: (x == 'borrow').sum())
features['num_repays'] = group['action'].apply(lambda x: (x == 'repay').sum())
features['num_deposits'] = group['action'].apply(lambda x: (x == 'deposit').sum())
features['num_liquidations'] = group['action'].apply(lambda x: (x == 'liquidationcall').sum())
features['num_redeems'] = group['action'].apply(lambda x: (x == 'redeemunderlying').sum())

features['total_borrowed'] = group.apply(lambda x: x.loc[x['action'] == 'borrow', 'actionData'].sum())
features['total_repaid'] = group.apply(lambda x: x.loc[x['action'] == 'repay', 'actionData'].sum())
features['repay_ratio'] = features['total_repaid'] / features['total_borrowed']
features['repay_ratio'].fillna(0, inplace=True)

features = features.fillna(0)
features.head()

C:\Users\hp\AppData\Local\Temp\ipykernel_10784\3339653027.py:16: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  features['total_borrowed'] = group.apply(lambda x: x.loc[x['action'] == 'borrow', 'actionData'].sum())
C:\Users\hp\AppData\Local\Temp\ipykernel_10784\3339653027.py:17: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  features['total_repaid'] = group.apply(lambda x: x.loc[x['action'] == 'repay', 'actionData'].sum())
C:\Users\hp\AppData\Local\Temp\ipykernel_10784\3339653027.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  features['repay_ratio'].fillna(0, inplace=True)

,num_transactions,num_borrows,num_repays,num_deposits,num_liquidations,num_redeems,total_borrowed,total_repaid,repay_ratio
userWallet,,,,,,,,,
0x00000000001accfa9cef68cf5371a23025b6d4b6,1,0,0,1,0,0,0.0,0.0,0.0
0x000000000051d07a4fb3bd10121a343d85818da6,1,0,0,1,0,0,0.0,0.0,0.0
0x000000000096026fb41fc39f9875d164bd82e2dc,2,0,0,2,0,0,0.0,0.0,0.0
0x0000000000e189dd664b9ab08a33c4839953852c,17,0,0,0,0,17,0.0,0.0,0.0
0x0000000002032370b971dabd36d72f3e5a7bf1ee,399,15,4,250,0,130,0.0,0.0,0.0

In [11]:
# Score from 0 to 1000
def score_wallet(row):
    score = 0

    # Penalize liquidations
    score -= row['num_liquidations'] * 100

    # Reward responsible borrowing/repayment
    score += min(row['repay_ratio'], 1.0) * 500

    # Reward activity (deposits, redemptions, etc.)
    score += min(row['num_deposits'] + row['num_redeems'], 10) * 20

    # Clip between 0 and 1000
    return max(0, min(1000, score))

features['credit_score'] = features.apply(score_wallet, axis=1)
features[['credit_score']].head(10)

                                            credit_score
userWallet
0x00000000001accfa9cef68cf5371a23025b6d4b6          20.0
0x000000000051d07a4fb3bd10121a343d85818da6          20.0
0x000000000096026fb41fc39f9875d164bd82e2dc          40.0
0x0000000000e189dd664b9ab08a33c4839953852c         200.0
0x0000000002032370b971dabd36d72f3e5a7bf1ee         200.0
0x000000000a38444e0a6e37d3b630d7e855a7cb13         200.0
0x000000003853fcedcd0355fec98ca3192833f00b         160.0
0x000000003ce0cf2c037493b1dc087204bd7f713e         200.0
0x000000007858e6f2668e1e06111cfa24403a5466          20.0
0x00000001a0f57e850c9db68b4a9bc34677437c5c          20.0

In [12]:
features[['credit_score']].to_csv("wallet_credit_scores.csv")